_auth = c2FpOTYzMGtAZ21haWwuY29tOmNtVm1kR3R1T2pBeE9qRTNNVFkyTlRFd05UTTZZMHcwUzJSRlVIZG9NRk01UkhoR2FYQkZSRVZ5ZVhnd1ZXcG8=
email = sai9630k@gmail.com
always-auth = true
registry=https://virtualhost.jfrog.io/artifactory/api/npm/npmproject1-npm/
